[submodule "Packages/sprokit"]
	path = Packages/sprokit
	url = git://kwsource.kitwarein.com/sprokit/sprokit.git
[submodule "Packages/VXL"]
	path = Packages/VXL
	url = git@kwsource.kitwarein.com:computer-vision/vxl.git
[submodule "Packages/maptk"]
	path = Packages/maptk
	url = git@kwsource.kitwarein.com:computer-vision/map-tk.git
