 Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Docs
_build

# Custom IDE
/.project
# Compiled Python
*.pyc
__pycache__

build-*
build

_ignore

examples/detector_pipelines/models/*.weights
examples/detector_training/cfg/yolo_v2_seed.wt
examples/detector_training/training_data/seq1
examples/camtrawl_fishlen/camtrawl_demodata
