.md-typeset mark {
  padding: 1px 4px;
  border-radius: 3px;
  color: white !important;
  font-weight: bold;
  border: 1px solid #424242;
  background-color: #0277bd;
}

.md-typeset mark.error {
  background-color: #F44336 !important;
}

.md-typeset mark.success {
  background-color: #5cb85c !important;
}

.md-typeset a {
  text-decoration: underline;
}

.md-typeset a.md-button,
.md-typeset a.headerlink {
  text-decoration: none;
}

.md-header__button.md-logo {
  padding: 0.1rem;
}

.md-header__button.md-logo img {
  height: 2rem;
}
